.LoginForm{
    position:absolute;
    top:30%;
    width:100%;
    height:0%;
}


.btn{
    width:97%;
    margin:5px;
}

.Title{
    position:absolute;
    top:-100px;
    left:25%;
}
