.moviepage{
    position:absolute;
    left: 5%;
    top:10%;
    width: 90%;
    display: flex;
    color:cornsilk;
    flex-direction: column;
    border-color:black;
    border-style:solid;
}

.posteron{
    width: 450px;

}

.movieInfos{
    font-size:x-large;
    position:absolute;
    left:30%;
    top: 15px;
}
.likebutton{
    width:300px;
}
